{% extends "layout.jinja2" %}

{% block title %}Edit Entry:{% endblock %}

{% block body %}
<main>
    <div class="well1">
        <h3>Edit your Entry</h3>
        <article class="edit">
            <form method="POST" action="" enctype="multipart/form-data"> 
            <h4>Title - Week:</h4>
                <input type="text" name="title" value="{{ data.title }}">
            <h4>Title - Day:</h4>
                <input type="text" name="title1" value="{{ data.title1 }}">
            <h4>Body:</h4>
                <textarea name="body">{{ data.body }}</textarea>
            <p>
                <input type="submit" type="submit" value="Submit">
            </p>
            </form>
        </article>
    </div>
</main>
{% endblock %}